.equationContainer {
    position: absolute;
    top: 23vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
   width: max-content;
}

.element {
    display: flex;
    height: 100px;
}