.numPadContainer {
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 260px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.numBtn {
  width: 80px;
  background: none;
  margin: 2px;
  border: none;
  cursor: pointer;
}

.answerBtn {
  width: 260px;
  margin: 0 2px;
  background: none;
  border: none;
}
